.cart {
    /* height: calc(100vh - 50px); */
    height: 100vh;
  }

  @media (max-width:994px) {
    .cart {
   height: 100%;
    }
  }
  
  .cart-length {
    background-color: red !important;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    margin: auto auto;
    text-align: center;
    color: #fff !important;
   
  }
  
  .empty-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #108caeaa;
  }
  
  .clear-cart {
    background-color: #61dafbaa !important;
    color: #000 !important;
  }
  
  .clear-cart:hover {
    background-color: #108caeaa !important;
  }
  
  .checkProduct {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #61dafbaa !important;
    color: #000 !important;
    border: 3px solid red;
  }
  
  .delete-btn {
    background-color: #61dafbaa !important;
    color: #000 !important;
  }
  
  .delete-btn:hover {
    
    background-color: #108caeaa !important;
  }
  
  .checkProduct:hover {
    background-color: #108caeaa !important;
  }
  
  .mycartflex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
  }

  @media (max-width:994px) {
    .mycartflex {
      flex-direction: column;
    }
  }

  .table-wrapper {
    max-height: 600px;
    overflow: auto; 
  }

  @media (max-width:994px) {
    .table-wrapper {
      width: 100%;
      padding: 0 60px !important;
    }
  }

  
  .table-wrapper::-webkit-scrollbar {
    width: 10px;   
    height: 10px;  
  }
  
.myTable {
    background-color: transparent !important;
    width: 500px !important;
  }



.myTable th {
    background-color: #108caeaa !important;
  }

  .mycontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    padding: 10px;
    margin: 0 auto !important;
    position: relative;
  }

  .mycontainer::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #ddd;
    position: absolute;
   top: 90%;
   left: 0;
  }
  
  .mysummary-result {
    max-height: 600px;
    overflow: auto; /* Adds scrollbars when the content exceeds the max height */
    width: 100%;
 
  }
  
  .mysummary-result::-webkit-scrollbar {
    width: 50px;   /* Vertical scrollbar width */
    height: 50px;  /* Horizontal scrollbar height */
  }
  
  .sumamary-title {
    color: #000 !important;
   padding: 10px !important;
   border: none !important; 
   position: relative;
  }

  
  
  .mycheckoutpage {
    width: 40% !important;
    height: 20% !important;
    position: absolute;
    /* background-color: #fff !important; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  
  }

  @media (max-width: 1420px) {
    .mycheckoutpage {
      width: 101% !important;
    }
  }
  
  .mycheckoutpage .mybtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

  @media (max-width: 1420px) {
    .mycheckoutpage .mybtn  {
      flex-direction: column;
    }
  }
  
  .mycheckoutpage .mybtn .btn {
  background-color: transparent !important;
  color: #fff !important;
  border: 2px solid #108caeaa;
  transition: 0.5s;
  }
  
  .mycheckoutpage .mybtn .btn:hover {
    background-color: #61dafbaa !important;
  }
  
  