.dream-home {
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  @media (max-width:740px) {
    .dream-home {
     height: 100%;
    }
  }
  
  
  .dream-home img {
    width: 100%;
    z-index: -1;
    object-fit: cover;
   
  }
  .dream-home .dream-text {
    z-index: 1000;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 2.7;
    width: 190px;
  }

  @media (max-width:740px) {
    .dream-home .dream-text  {
     line-height: 1.7;
    }
  }