
.footer {
    padding-top: 50px;
    position: relative;
  
  }
  
  .footer img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 300px;
    
  }

  .footer .footer-card {
    padding: 0 !important;
  }
  
  .footer-text {
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    /* background-color: blue; */
  
  }
  
  .footer-text h1,
  .footer-text p {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
   
  }

  .footer .icons {
   
    position:absolute;
    bottom: 20px ;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
   
  }

  @media (max-width: 500px) {
    .footer .icons {
      bottom: -25px;
    }
  }

  .footer .icons svg {
    margin: 0 10px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
  }

  .footer .copy-right {
    margin: 0 !important; 
  }