.details button {

    background-color:#61dafbaa !important;
    border: 2px solid #108caeaa;
    color: black;
    transition: all 0.5s;
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
  }
  
  .details button:hover {
    background-color: #108caeaa !important;
  }
  .show-details {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-transform: capitalize;
    width: 100%;
  }

  .details p {
    line-height: 1.8 !important;
    width: 50%;
    margin: 0 auto !important;
    padding-bottom: 20px;
  }

  @media (max-width: 884px) {
    .details p {
      width: 100%;
      padding: 10px;
    }
  }


  
  .details img {
    border-radius: 20px;
    padding-bottom: 20px;
  
  }

  @media (max-width:640px) {
    .details img {
      width: 100%;
    }
    
  }
  
  .back-btn {
    /* background-color: red !important; */
    border: 2px solid #61dafbaa !important;
    margin-left: 10px;
    transition: all 0.5s ease-in-out !important;
  }
  
  .back-btn:hover {
    background-color: #108caeaa !important;
  }