/* default react code */

#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*  carsoual - slider */
.carsoual-item {
  position: relative;
}
.myCarsoual img{
height: calc(100vh - 2px) !important;
/* height: 100vh; */
/* padding-top: 70px; */
}

@media (max-width: 500px) {
  .myCarsoual img {
    height: 100% !important;
    padding-top: 50px;
  }
}

.motion {
  background-color: wheat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.motion button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


.myCarsoual .carsoual-item .carsoual-cap p ,
.myCarsoual .carsoual-item .carsoual-cap h3 {
  color: white;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 20px;
 
}

/* nav bar */
.mynav-bar .btn {
  background-color: #61dafbaa !important;
  color: #000;
}

.mynav-bar .btn:hover {

  background-color: #108caeaa !important;
  color:  #000 !important;
}



















